<div class = "background">
  <div class = "back-img3">
    <div class = "row mr-0">
      <% @projects.each do |project| %> 
        <div class = "card-deck mx-auto mt-5 mb-5">
          <div class = "card  bg-light col-11">
            <%= link_to image_tag("sample.jpg", width: '355', alt: "サンプル画像"), project_path(project.id), class: "card-img-top "%>
            <p class = "h3 pl-2 pt-2 text-left "><%= project.company_name %></p>
            <hr class = "mt-0 mb-0">
            <div class = "pl-2 pt-2 pr-3">
              <div class = "parent">
                <span class = "mb-1 text-left">報酬<span class = "ml-4">：¥<%= project.pay%></span></span>
                <span class = "text-right">期間 <span class = "padding-3">：<%= project.period%></span></span></span>
              </div>
              <div class = "parent">
                <span class = "mb-1 text-left">サイト<span class = "ml-2">：<%= project.site%></span></span>
                <span class = "text-right padding-2">広告方法<span class = "ml-3">：<%= project.method%></span></span>
              </div>
            </div>
            <hr class = "mt-0 ">
          </div>
        </div>
      <%end%>
    </div>
    <div class = "col-12 pt-5 pb-3">
      <p><%= paginate @projects%></p>
    </div>
  </div>
</div>


