<h1>its showpage</h1>
<p><%= @project.company_name%></p>
<p><%= @project.pay %></p>
<p><%= @project.period %></p>
<p><%= @project.method%></p>
<p><%= @project.cutback %></p>
<p><%= @project.site %></p>
<p><%= @project.description%></p>
<div>
  <%= link_to "この受注を受ける", orders_path(@project), method: :post %>
</div>