<h1>its showpage</h1>
<p><%= @project.company_name%></p>
<p><%= @project.pay %></p>
<p><%= @project.period %></p>
<p><%= @project.method%></p>
<p><%= @project.cutback %></p>
<p><%= @project.site %></p>
<p><%= @project.description%></p>
<%= form_with model: Project, url: @project do |form| %>
  <%= form.hidden_field :project, :value => 1 %>
  <%= form.submit "受注希望を出す", class: "btn border btn-danger" %>
<% end %>